@model PainelCovid19.Models.DadosCovid

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Dados COVID 2020</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasosConfirmados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasosConfirmados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mortes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mortes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recuperados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recuperados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais.Codigo)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-warning">
        <a asp-action="Edit" asp-route-id="@Model.Codigo">Editar</a>
    </button>
    <button type="button" class="btn btn-primary">
        <a asp-action="Index">Voltar</a>
    </button>

</div>
